.icon-room {
	width: 75px !important;
}
#room-name, #room-host, #now-playing-dj, #now-playing-media {
    left: 89px !important;
    color: #fff !important;
    font-weight: bold;
    text-shadow: 2px 0px 11px, #dd00ff;
}
.app-header, #footer-user .info, #dashboard {
    background: rgba(0, 0, 0, 0.85) !important;
}